main{
    background-color: #f9f9f9;
    box-sizing: border-box;;
    padding: 10px
}
.carrito-top{
    
    padding: 10px

}
.desktop{
    display: none
}
.mobile{
    list-style: none;

}
.mobile li{
    display:flex;
    justify-content:space-between;
padding: 5px;
border: 1px solid black

}
a.delete-product{
    
    border: none;
    background-color:#f25f5c;
    border-radius: 2px;
    font-size: 16px;
    color: white;
    text-align:center;
    justify-content: center;
    display: flex;
    height:24px;
    width:24px;
    text-decoration: none;
}
a.delete-product i{
    padding-top: 3px
  
}
a.actualizar-carrito{
    margin-top: 10px;
    text-decoration:none;
    display:flex;
    width: 170px;
    justify-content: center;
    text-align: center;
    background-color: #57CC99;
    color: white;
    border-radius: 3px;
    height: 32px;
    margin:  10px auto
}
a.actualizar-carrito h3{
    padding-top: 3px;
    font-weight:400
}

.carrito-bot{
    padding: 10px
}
.carrito-bot ul{
    list-style: none;
}
.carrito-bot ul li{
    display:flex;
    justify-content:space-between;
    padding: 5px;
    border: 1px solid black
}

.confirmar-compra{
    margin-top: 20px;
    text-decoration:none;
    display:flex;
    width: 200px;
    justify-content: center;
    text-align: center;
    background-color: #57CC99;
    color: white;
    margin: 20px auto 10px auto;
    border-radius: 3px;
    height: 40px
}
.confirmar-compra h2{
    padding-top: 3px;
    font-weight: 400;
}

@media (min-width: 1024px){
    .mobile li{
        display: none
    }
    .carrito-bot{
        padding: 10px;
        width: 400px;
        margin: auto
    }
    .desktop{
        display: flex;
        flex-wrap: wrap;
        width: 80vw;
        max-width: 1200px;
        margin: auto
    }
    .desktop div{
        flex-basis: 100%;
        display: flex;
        margin-left:19%;
        justify-content:space-between
    }

    
    .product-image{
        flex-basis:12%
    }
    .producto{
        flex-basis:37%
    }
    .precio{
        flex-basis:12%
    }
    .cantidad{
        flex-basis:12%
    }
    .subtotal{
        flex-basis:12%
    }
    .desktop article{
        display: flex;
        justify-content:space-between;
        
    }
    .desktop article img{
        width: 12%
    }

}