footer{
    background-color:#f9f9f9;
    display:flex;
    flex-wrap:wrap;
    margin: 0
}


footer section{
    width:100%;
    text-align: center;
    padding:10px
}

footer section i{
    color:#57CC99;
    font-size: 2em;
    line-height:10px;
    margin: auto;
    }

footer section h3{
font-weight:700
}
footer section p{
    font-family:"Abel"
}
.footer-bottom-bar{
    background-color:black;
    width:100%;
    display: flex;
    justify-content: center;
    align-content: center;
    
}
.footer-bottom-bar a{
    max-width:125px;
    display: flex;
    justify-content: center;
    align-content: center;
    padding:6px
}
.footer-bottom-bar a img{
    max-width:125px
}

@media(min-width:768px){
    footer{
        display:flex;
        justify-content: center;
        gap: 10px;
        padding: 30px 0px 0px 0px
    }
    footer section{
        width: 30%
    }
    .footer-bottom-bar{
        width:100vw
    }


}
