*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: "Anek Gujarati";
    }
header{
    width:100vw;
    height:72px;
    display: flex;
    flex-wrap:wrap;
    align-items: center;
    justify-content: space-between;
    background-color: #f9f9f9;
}    
.logo-nav{
    width: 220px;
    height: 32px;;
    margin: 4px  
}
.header-logo{
    width: 100%;
    height:32px;
}
header section{
    width: 100%;
    background-color:black;
    height:32px;
    display: flex;
    justify-content:center;
    align-items: center;
}
header section h2{
    font-weight: normal;;
    color: #f9f9f9;;
    font-size: 18px;  
}
nav.chart-burger{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 5px;
    margin: 4px 10px; 
}
nav.chart-burger a{
    text-align:center;
    color:#f9f9f9;;
    background-color: #57CC99;
    box-sizing: border-box;
    height:32px;
    font-size: 18px;
    width: 32px;
    padding-top:4.4px;
    border-radius: 3px
}
#burger-menu{
    position: fixed;
    background-color:#57CC99;
    top: 4px;
    right:10px;
    padding: 20px 40px;
    height: auto;
    width: auto;
    visibility: hidden;
    display:flex;
    flex-direction:column;
    justify-content: flex-start;
    z-index: 100000;
    gap: 15px;
    opacity: 0;
    border-radius:3px;
    border: 1px solid #5c3d99;
    transition: all 500ms ease-in-out
}
#burger-menu:target{
    visibility: visible;
    opacity: 1
}
#burger-menu a{
    border-bottom: 1px solid #5c3d99;
    text-align: center;
    text-decoration: none;
    color: #ffffff
}
nav.header-top-nav-bar{
    display: none;
    justify-content: space-between;
    width: 100%; 
}
nav.header-top-nav-bar ul{
    list-style: none;
    margin: 0 ;
    padding: 0;
    display: none;
    justify-content: space-between;
    flex-wrap: wrap;
}
nav.header-top-nav-bar ul li{
    width: 50%
}
.header-bottom-nav-bar{
    visibility: hidden;
}
.profile-menu-b{
    display: none

}
@media(min-width:768px){
    .header-top-nav-bar{
        display: none;
        order: 2;
        width: 100vw
    }
}
@media(min-width:1024px){
    body{background-color: #f9f9f9;
    }
    header{
        height: auto;
        max-width: 1400px;
        margin:auto
    }
    .logo-nav{
        width: 300px;
        height: 50px       
    }   
    .header-logo{
        height:100%;       
    }    
    nav.header-top-nav-bar{
        height:40px;
        align-items: center; 
        display:flex;
        justify-content: flex-end;
        gap: 20px;
        width:auto;
        margin:7px;
        order:3
    }    
    nav.chart-burger{
        display: none;
        order:5;
        width: 100%
    }  
    nav.header-top-nav-bar a{
        text-decoration: none;
        font-size: 18px;
        color:#f9f9f9;
        background-color:#57CC99;
        padding:7px 6px 5px 6px;
        border-radius:3px;
        transition: opacity 200ms
    }
    nav.header-top-nav-bar a:hover{
        opacity: 0.7
    }
/* PERFIL FONDO BLANCO */
    .profile-menu-a{
        display: flex;
        position: relative;
        gap: 5px;
        align-items: center;
        flex-wrap: wrap;
        height:40px;
        width: 150px;
        max-width: auto;
        transition: all 2s ease
    }
    .profile-image-a{
        width: 35px;
        height: 35px;
        display: grid;
        align-items: center;
        
    }
    .profile-image-a img{
        width:100%;
        height: 100%;
        object-fit: cover;
        border: 2px solid #57CC99;
    }
    .profile-options{
        display: none;
        width: 100%;
        z-index: 999999999999;
    }
    .profile-options a{
        width:100%;
    }

    .profile-menu-a:hover .profile-options{
        display: block;
    }
    
    .profile-menu-a i {
        rotate: 90deg;
        transition: all 0.1s ease-out;
    }
    
    .profile-menu-a:hover i {
        rotate: 0deg
    }
    /* PERFIL FONDO NEGRO*/
    .profile-menu-b{
        display: flex;
        position: relative;
        gap: 5px;
        align-items: center;
        flex-wrap: wrap;
        height:40px;
        width: auto;
        max-width: auto;
        justify-content: flex-end;
        margin-right:10px;
        transition: all 2s ease
    }
    .profile-image-b{
        width: 35px;
        height: 35px;
        display: grid;
        align-items: center;   
    }
    .profile-image-b img{
        width:100%;
        height: 100%;
        object-fit: cover;
        border: 2px solid #57CC99;
    }
    .profile-menu-b p{
        color: white;
        font-size: 18px
    }
    .profile-menu-b i{
        color: white;
        rotate: 90deg;
        transition: all 0.1s ease-out;
    }
    .profile-menu-b:hover i {
        rotate: 0deg
    }
    .profile-options{
        align-content: flex-end;
        flex-direction: column;
        flex-wrap: wrap;
        gap: 2px
    }
    .profile-options a{
        text-align: center;
        text-decoration: none;
        background-color: #9f9f9f;
        color: white;
        padding: 3px;
        border-radius: 3px;
        justify-self: flex-end;
        width: auto;
        transition: all 200ms
    }
    .profile-options a:hover{
        background-color: #9f9f9f9f
    }
    .profile-menu-b:hover .profile-options{
        display: flex;
    }
    
    
    
    .profile-menu-b:hover i {
        rotate: 0deg
    }

    header section{
        order: 4;
        width:100vw;
        height: 50px;
        justify-content: flex-end;
        position: relative;
    }
    header section h2{    
        font-weight: normal;
        background-color:black;
        color: #f9f9f9;
        font-size: 20px;
        right: calc(50% - 118.25px);
        position: absolute;     
        
    }
    #pala{
        transition: color 500ms, font-size 500ms
    }
    #pala:hover{
        color:#f65a5a;
        font-size: 40px
    }
    #planta{
        transition: color 500ms, font-size 500ms
    }
    #planta:hover{
        color:#80ed99;
        font-size: 40px
    }
    #agua{
        transition: color 500ms, font-size 500ms
    }
    #agua:hover{
        color:#90c0e0;
        font-size: 40px
    }
    .header-bottom-nav-bar{
        order:5;
        display:flex;
        height:60px;
        align-items: center;
        justify-content: center;
        gap:50px;
        width: 100%;
        visibility:visible
    }
    .header-bottom-nav-bar a{
        text-decoration: none;
        font-size: 24px;
        color: black;
        transition: font-size 200ms
    }
    .header-bottom-nav-bar a:hover{
        font-size:30px;
        font-weight: 500;
        color: #57CC99
    }
}
