*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: "Anek Gujarati";
}
main{
    padding: 100px 0px 100px 0px;
    background-color: lavender;
}
form{
    display: flex;
    flex-direction: column;
}
button{
    text-decoration: none;
    font-size: 18px;
    color:#f9f9f9;
    background-color:#57CC99;
    Width: 40%;
    padding:7px 6px 5px 6px;
    border: none;
    transition: opacity 200ms;
    justify-content: center;
    text-align: center;
    margin-left: 30%;
    margin-top: 1%;
    margin-bottom: 1%;
    border-radius: 3px;
}
input{
    margin-left: 30%;
    margin-top: 1%;
    border: 3px solid #5c3d99;
    width: 40%;
    text-align: center;
    font-size: 16px;
    border-radius: 3px;
}
select{
    margin-left: 30%;
    width: 40%;
    border: 3px solid #5c3d99;
    text-align: center;
    font-size: 16px;
    border-radius: 3px;
    color: #5c3d99;
}
label{
    align-self: center;
    margin-top: 10px;
}
button:hover{
    opacity: 0.7
}
