*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: "Anek Gujarati";
}

form{
    margin-bottom: 10px;
}

input#name{
    border: 2px solid #5c3d99;
    border-radius: 3px;
}

.boton-buscar{
    background-color: #57CC99;
    border: none;
    padding: 2px;
    border-radius: 3px;
    color: white;
}

.botones{
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 10px;
}

.boton-editar:hover{
    opacity: 0.7
}

.boton-eliminar:hover{
    opacity: 0.7
}

.boton-buscar:hover{
    opacity: 0.7
}

.boton-editar{
    font-size: 16px;
    height: 39px;
    margin-left: 10px;
    text-decoration: none;
    color: #f9f9f9;
    background-color: #57CC99;
    padding: 6px;
    border-radius: 3px;
    opacity: 1;
    transition: all 300ms;
}

.boton-eliminar{
    font-size: 16px;
    margin-left: 10px;
    text-decoration: none;
    color: #f9f9f9;
    background-color: #f25f5c;
    padding: 7px;
    border: none;
    border-radius: 3px;
    opacity: 1;
    transition: all 300ms;
}

.productos{
    width: 90vw;
    margin: 10px auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: center;
    gap:10px
}

article h3{
    margin: 10px;
}

.productos article{
    flex-basis: 100%;
}

@media(min-width:768px){
    .productos article{
        flex-basis: 49%
    }
}

@media(min-width:1024px){
    main h2{
    text-align: center;
    }
    form{
        text-align: center;
    }
    .productos article{
        flex-basis: 24%
    }
    .botones{
        gap: 5px
    }
    .productos article{
        box-shadow: 0px 0px 2px #57CC99;
    }
}