*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: "Anek Gujarati";
    }

main{
    background-color:#f9f9f9;
    margin:0px;
}


.banner{
    overflow: hidden;
    height:25vh;
    width:100%;
    margin-bottom:20px;
     
}
.banner img {
    width: 100%;
    height: 100%;
    object-fit: cover
}

nav.main-nav-contenedor{
    margin: auto;
    text-decoration: none;
    padding-top:0;
    height: 485vw;
    
    
}
nav.main-nav-contenedor a{
    text-decoration: none;
    margin-top:0;
    padding-top:0;
    border-radius: 10px
}
nav.main-nav-contenedor a article{
    
    width: 95vw;
    height: 95vw;
    margin:  0 auto;
    text-decoration: none;
    position:relative;
    display: flex;
    flex-wrap:wrap;
    justify-content:center;
    padding-top:0;
    margin-top:0;
    border-top: 0.5px solid #f9f9f9;
    border-bottom: 0.5px solid #f9f9f9;
    border-radius: 10px
}

img.foto-categorias{
    width:100%;
    filter: grayscale(100%);

}
.nombre-categoria{
    text-decoration: none;
    font-size: 20px;
    position: absolute;
    top: 40vw;
    z-index: 700;
    text-transform: uppercase;
    color: transparent;
    text-shadow: 0 0 0 snow, 0.2rem 0.2rem 0.4rem #5c3d99
}


article p {
    text-decoration: none;
    display: none
}

@media(min-width:768px){
    nav.main-nav-contenedor{
        display:flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 2px;
        margin:0;
        padding:10px;
        height: auto
    }
    nav.main-nav-contenedor a{
        height: auto;
        flex-basis: 48%;
        
    }
    nav.main-nav-contenedor a article{
    
        width: auto;
        height: auto;
    }
    .nombre-categoria{
        top: 22vw
    }
    article p {
        flex-basis: 100%;
        text-decoration: none;
        display: block;
        font-family: "Abel";
        font-size: 18px;
        text-align: center;
        padding:  0 10px 10px 10px;
        color:#57CC99;
    }
}

@media(min-width:1024px){
       

    nav.main-nav-contenedor{
        flex-wrap: nowrap;
        display:flex;
        justify-content: center;
        gap: 2px;
        margin: 10px;
        padding: 0;
        height: auto
    }
    nav.main-nav-contenedor a{
        height: auto;
        flex-basis: 19%;
        transition: flex-basis 500ms
    }
    nav.main-nav-contenedor a:hover{
        flex-basis:24%
    }
    nav.main-nav-contenedor a article{
    
        width: auto;
        height: auto;
        margin:  0 auto;
        text-decoration: none;
        position: relative;
        padding-top:0;
        margin-top:0;
        border-top: none;
        border-bottom: none;
        box-shadow: none;
        transition: box-shadow 500ms
    }
    nav.main-nav-contenedor a article:hover{
        box-shadow: 0px 0px 10px rgb(100, 100, 100);
    }
    nav.main-nav-contenedor a article img{
        height: auto;
        transition: filter 500ms
    }
    nav.main-nav-contenedor a:hover article img{
        filter: grayscale(0%)
    }
    .nombre-categoria{
        top: 8vw
    }
    nav.main-nav-contenedor a:hover article h3{
        visibility: hidden;
    }
    
    
    article p {
        text-decoration: none;
        display: none;
        font-family: "Abel";
        font-size: 18px;
        text-align: center;
        padding:  10px;
        color:black;
        background-image: url();
        transition: display 200ms
    }
    nav.main-nav-contenedor a article:hover p{
        display: block
    }
      
}