<!DOCTYPE html>
<html lang="en">
    <%- include("./includes/head.ejs")  %>
<body>
    <%- include("./includes/header.ejs") %> 
    <main>
        <section class="carrito-top">
            <ul class="mobile">  <!--Esta <a> deberia ser un button-->
                <li><a href="" class="delete-product"><i class="fa-solid fa-xmark"></i></a></li>
                <li>
                    <h4>Producto:</h4>
                    <p class="product-name">Grinder</p>
                </li>
                <li>
                    <h4>Precio:</h4>
                    <p class="product-price">$650,73</p>
                </li>
                <li>
                    <form>
                        <label for="quantity">Cantidad:</label>
                        <input type="number" id="quantity" name="quantity" min="1" max="10">
                    </form>                  
                </li>
                <li>
                    <h4>Subtotal:</h4>
                    <p class="subtotal">=cantidad*precio</p>
                </li>
            </ul>
            <section class="desktop">
                <article>
                    <h4 class="producto">Producto:</h4>
                    <h4 class="precio">Precio:</h4>
                    <h4 class="cantidad">Cantidad:</h4>
                    <h4 class="subtotal">Subtotal:</h4>
                    <a href="" class="delete-product" id="deleted"><i class="fa-solid fa-xmark"></i></a>
                    <figure  >
                        <img class="product-image" src="/assets/products-images/detalle-producto.jpg" alt="imagen del Producto">
                    </figure>
                    <p class="producto">grinder befa;dsjposaifjsdlfmdasp;ojfsa;fd</p>
                    <p class="precio">$650,73</p>
                    <form method="post" action="">
                        <input class="cantidad" type="number" id="quantity" name="quantity" min="1" max="10">
                    </form>
                    <p class="subtotal">=cantidad*precio</p>
                </article>
                <article>
                    <h4 class="producto">Producto:</h4>
                    <h4 class="precio">Precio:</h4>
                    <h4 class="cantidad">Cantidad:</h4>
                    <h4 class="subtotal">Subtotal:</h4>
                    <a href="" class="delete-product" id="deleted"><i class="fa-solid fa-xmark"></i></a>
                    <figure  >
                        <img class="product-image" src="/assets/products-images/detalle-producto.jpg" alt="imagen del Producto">
                    </figure>
                    <p class="producto">grinder befa;dsjposaifjsdlfmdasp;ojfsa;fd</p>
                    <p class="precio">$650,73</p>
                    <form method="post" action="">
                        <input class="cantidad" type="number" id="quantity" name="quantity" min="1" max="10">
                    </form>
                    <p class="subtotal">=cantidad*precio</p>
                </article>
            </section>
            <nav class="actualizar">  <!--Esta <a> deberia ser un button tambien-->
                <a href="" class="actualizar-carrito"><h3>Actualizar Carrito</h3></a>
            </nav>
        </section>
        <section class="carrito-bot">
            <h2>Total del Carrito</h2>
            <ul>
                <li>
                    <h4>Subtotal:</h4>
                    <p>=suma(subtotalProductos)</p>
                </li>
                <li>
                    <h4>Envio:</h4>
                    <p>correo, domicilio, retira</p>
                </li>
                <li>
                    <h4>Total:</h4>
                    <p>=Subtotal+Envio</p>
                </li>
            </ul>
            <nav>
                <a href="" class="confirmar-compra"><h2>Finalizar Compra</h2></a>
            </nav>
        </section>
    </main>
    <%- include("./includes/footer.ejs") %> 
</body>
</html>   