<!DOCTYPE html>
<html lang="en">


    <%- include("./includes/head.ejs")  %>

<body>
    <%- include("./includes/header.ejs") %> 
      
    <main>
        <figure>
            <img src="/assets/banner-recortado.jpg" alt="banner-categoria">
        </figure>
                  <!--Contenido de esta vista:
                Banner con el fondo en grises y con el name de la categoria en el medio
            listado de productos mostrando de a 1 en mobile, de a 2 a partir de 480 y 4 a partir de 1024-->
    </main>
    <%- include("./includes/footer.ejs") %> 
    
    
</body>
</html>