*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: "Anek Gujarati";
    }
a button{
    text-decoration: none;
        font-size: 18px;
        color:#f9f9f9;
        background-color:#57CC99;
        padding:7px 6px 5px 6px;
        border-radius:3px;
        transition: opacity 200ms;
        justify-content: center;
        text-align: center;
}
input{
    margin: auto;
    border: ;
}