*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: "Anek Gujarati";
    }
a button{
    margin-top: 10px;
    text-decoration:none;
    display:flex;
    width: 170px;
    justify-content: center;
    text-align: center;
    background-color: #57CC99;
    color: white;
    border-radius: 3px;
    height: 32px;
    margin:  10px auto
}