*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: "Anek Gujarati";
    }
a button{
    text-decoration: none;
        font-size: 18px;
        color:#f9f9f9;
        background-color:#57CC99;
        Width: 40%;
        padding:7px 6px 5px 6px;
        border: none;
        transition: opacity 200ms;
        justify-content: center;
        text-align: center;
        margin-left: 30%;
        margin-top: 1%;
        border-radius: 3px;
}
input{
    margin-left: 30%;
    margin-top: 1%;
    border: 3px solid #5c3d99;
    width: 40%;
    text-align: center;
    font-size: 16px;
    border-radius: 3px;
     ;

}
p.cultivo{
    margin-left: 30%;
    margin-top: 1%;
    width: 40%;
    text-align: center;
    font-size: 16px;
    border-radius: 3px;
}
select{
    width: 80%
}