<footer>
    <div class="footer-top-bar">
        <section>
            <i class="fa-solid fa-truck-ramp-box"></i>
            <h3>Envíos a todo el país</h3>
            <p>Mediante correo o encomienda. Todo se envía en cajas reforzadas y embaladas por nosotros mismos para cuidar cada producto.</p>
        </section>
        <section>
            <i class="fa-solid fa-credit-card"></i>
            <h3>Pagá con tarjeta o en efectivo</h3>
            <p>Tenés 6 cuotas sin interés con cualquier tarjeta de crédito. o podes abonar en efectivo en
                puntos de pago</p>
        </section>
        <section>
            <i class="fa-solid fa-certificate"></i>
            <h3>Garantía</h3>
            <p>Los materiales que utilizamos son de la más alta calidad, certificados y homologados. Por eso todos nuestros productos tienen garantía de fábrica.</p>
        </section>
    </div>
    <div class="footer-bottom-bar">
        <a href="/"><img src="/assets/logo-blanco-57cc99.svg" alt="Logo Green World" class="header-logo"></a>


    </div>
</footer>