<header>
    <div class="header-top-bar">
        <figure>
            <a href="/"><img src="/assets/logo-edu.svg" alt="Logo Green World" class="header-logo"></a>
        </figure>
        <div class="chart-burger">
            <a href="/chart" >
                <i class="fa-solid fa-basket-shopping"></i>
            </a>
            <a href="" >
                <i class="fas fa-bars"></i>
            </a>
        </div>
        <nav class="header-top-nav-bar">
            <ul>
                <li><a href="/register">Registrarse</a> </li>
                <li><a href="/login">Iniciar Sesion</a></li>
                <li><a href="/chart"><i class="fa-solid fa-cart-shopping"></i>  Carrito</a></li>
            </ul>
        </nav>
    </div>    
    <h2>CULTIVA TU MUNDO   <i id="pala" class="fa-solid fa-trowel"></i>    <i id="planta" class="fa-solid fa-seedling"></i>    <i id="agua" class="fa-solid fa-hand-holding-droplet"></i></h2>  
        
        
    
    <nav class="header-bottom-nav-bar">
        <ul>
            <li ><a href="/caterogias/accesorios">ACCESORIOS</a></li>
            <li ><a href="/categorias/aditivos">ADITIVOS</a></li> 
            <li ><a href="/categorias/medicinal">MEDICINAL</a></li> 
            <li ><a href="/categorias/parafernalia">PARAFERNALIA</a></li> 
            <li ><a href="/categorias/sustratos">SUSTRATOS</a></li>                 
        </ul>
    </nav>
</header> 