<header>
        <nav class="logo-nav">
            <a href="/"><img src="/assets/logo-edu.svg" alt="Logo Green World" class="header-logo"></a>
        </nav>
        <nav class="chart-burger">
            <a href="/chart" >
                <i class="fa-solid fa-basket-shopping"></i>
            </a>
            <a href="#burger-menu" >
                <i class="fas fa-bars"></i>
            </a>
        </nav>
        <nav id="burger-menu">
            <a href="#">Cerrar</a>
            <a href="/login">INICIAR SESIÓN</a>
            <a href="/register">REGISTRARSE</a>
            <a href="/products/create">CREAR PRODUCTO</a>
            <a href="/products/">LISTA DE PRODUCTOS</a>
            <a href="/products/categorias/accesorios">ACCESORIOS</a>
            <a href="/products/categorias/aditivos">ADITIVOS</a>
            <a href="/products/categorias/medicinal">MEDICINAL</a>
            <a href="/products/categorias/parafernalia">PARAFERNALIA</a>
            <a href="/products/categorias/sustratos">SUSTRATOS</a>
            <a href="/chart">CARRITO</a>

        </nav>
        <nav class="header-top-nav-bar">
        
            <a href="/register">Registrarse</a>
            <a href="/login">Iniciar Sesión</a>
            <a href="/products/create">Crear Producto</a>
            <a href="/products/">Lista de Productos</a>
            <a href="/chart"><i class="fa-solid fa-cart-shopping"></i>  Carrito</a>
        </nav>
    
    <section>
        <h2>CULTIVA TU MUNDO   <i id="pala" class="fa-solid fa-trowel"></i>    <i id="planta" class="fa-solid fa-seedling"></i>    <i id="agua" class="fa-solid fa-hand-holding-droplet"></i></h2>
    </section>    

    <nav class="header-bottom-nav-bar">
        <!-- Se podria hacer un foreach para esta nav, pero tampoco molestan estas 5 lineas-->
        <a href="/products/categorias/accesorios">ACCESORIOS</a>
        <a href="/products/categorias/aditivos">ADITIVOS</a>
        <a href="/products/categorias/medicinal">MEDICINAL</a>
        <a href="/products/categorias/parafernalia">PARAFERNALIA</a>
        <a href="/products/categorias/sustratos">SUSTRATOS</a>                   
    </nav>
</header> 