<!DOCTYPE html>
<html lang="en">
    <%- include("../includes/head.ejs")  %>
<body>
    <%- include("../includes/header.ejs")  %>
    <main>
        <form method="post" action="/products/created" enctype="multipart/form-data">
            <label for="name">Nombre del Producto</label>
            <input type="text" name="name" id="name" required>
            <label for="description">Descripción del Producto</label>
            <textarea name="description" id="description" required></textarea>
            <label for="image">Imagen del Producto</label>
            <input type="file" name="image_id" id="image" >
            <label for="category">Categoría del Producto</label>
            <select name="category_id" id="category" required>
                <option value="1">ACCESORIOS</option>
                <option value="2">ADITIVOS</option>
                <option value="3">MEDICINAL</option>
                <option value="4">PARAFERNALIA</option>
                <option value="5">SUSTRATOS</option>
            </select>
            <label for="color">Color del Producto</label>
            <input type="text" name="color" id="color" required>
            <label for="price">Precio del Producto</label>
            <input type="number" name="price" id="price" required>
            <button type="submit">Crear Producto</button>
        </form>
    </main>
    <%- include("../includes/footer.ejs")  %>
    
</body>
</html>