<!DOCTYPE html>
<html lang="en">
    <%- include("../includes/head.ejs")  %>
<body>
    <%- include("../includes/header.ejs") %> 
    <main>
          <form method="post" action="/">
            <label for="nombre">Nombre</label>
            <input type="text" name="nombre" id="nombre"  required>
            <label for="apellido">Apellido</label>
            <input type="text" name="apellido" id="apellido"  required>
            <label for="usuario">Nombre de Usuario</label>
            <input type="text" name="usuario" id="usuario"  required>
            <label for="mail">Correo Electrónico</label>
            <input type="mail" name="mail" id="mail"  required>
            <label for="cultivo">Realizas algun tipo de cultivo?</label>
                <select name="cultivo" id="cultivo" required>
                    <option value="indoor">Indoor</option>
                    <option value="outdoor">Outdoor</option>
                    <option value="ambas">Ambas</option>
                    <option value="ninguna">No cultivo</option>
                </select>
            <label for="password">Elige tu Contraseña</label>
            <input type="password" name="password" id="password"  required>
            <label for="pass-confirm">Confirma tu Contraseña</label>           
            <input type="password" name="pass-confirm" id="pass-confirm"  required>
            <button type="submit" name="registrar"> Envíar </button>
            </form>
    </main>
    <%- include("../includes/footer.ejs") %> 
</body>
</html>